body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#current-weather, #forecast {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside {
    width: 25%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-history-item {
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

.search-history-item:hover {
    background-color: #0056b3;
}